{% extends "base.html"%}
{% block content %}
    <h3 class="light-blue-text text-darken-4 center-align">add to list page</h3>

    <form class="col s12" method="POST" action="{{ url_for('add_tolist') }}"> 
  <!-- TASK NAME -->
  <div class="row">
      <div class="input-field col s12">
          <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
          <input id="test_name" type="text" name="test_name" required>
          <label for="test_name">test_name</label>
      </div>
  </div>  

<!-- TASK DESCR -->
  <div class="row">
    <div class="input-field col s12">
        <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
        <input id="test_descr" type="text" name="test_descr" required>
        <label for="test_descr">test_descr</label>
    </div>
</div>

<!-- TASK RATING -->
<div class="row">
  <div class="input-field col s12">
      <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
      <input id="test_rating" type="text" name="test_rating" required>
      <label for="test_rating">test_rating</label>
  </div>
</div>

<div id="method-container">
</div>
<button type="button" onclick="addMethodStep(GetLastStepNo()+1);">
  Add Method Step <i class="fas fa-plus-square right"></i>
</button>



<!-- object field -->
<div class="row">
  <div class="input-field col s12">
      <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
      <input id="obj" type="text" name="obj" required onclick = "makeObj('sds','2');"> 
      <label for="obj">obj</label>
  </div>
</div>
<!-- Submit Button-->
<div class="row">
  <div class="col s12 center-align">
      <button type="submit" class="btn-large light-blue darken-1 text-shadow">
          Add test <i class="fas fa-plus-square right"></i>
      </button>
  </div>
</div>


<input name="hello[]" type="text" />
<input name="hello[]" type="text" />
<input name="hello[]" type="text" />



<button type="button" onclick="SaveForm();">
  SAVE </i>
</button>



</form> 

<script>
function GetMethod(){
  methodCont = document.getElementById('method-container')
  divChildren = methodCont.childNodes;
  let x = 1;
  let data = [];
  if (divChildren.length == 0) {
    return 0;
  }
  else {
    for (var i=0; i < divChildren.length; i++) {
      let str = divChildren[i].id;
      if (typeof str !== 'undefined'){
        if (str.includes("step_no")) {
          let line = {
            "step": x,"descr":document.getElementById("descr_no" + x).value
          }
          data.push(line);
          x++;
        } 
      }
    }
  }
  //console.log(x);
  return data;
}


function GetLastStepNo(){
  methodCont = document.getElementById('method-container')
  divChildren = methodCont.childNodes;
  // console.log (divChildren);
  let x = 0;
  if (divChildren.length == 0) {
    // console.log (0);
    return 0;
  }
  else {
    for (var i=0; i < divChildren.length; i++) {
      let str = divChildren[i].id;
      // console.log("######################");
      if (typeof str !== 'undefined'){
        //console.log(str);
        if (str.includes("step_no")) {
          // console.log(divChildren[i]);
          x++;
        } 
      }
    }
  }
  //console.log(x);
  return x;
}
function addMethodStep(step_no){

  methodCont = document.getElementById('method-container')
  // Create a break line element
  let br = document.createElement("br"); 
  let no = document.createElement("input");
  no.setAttribute("type", "text");
  no.setAttribute("id", "step_no" + step_no);
  no.setAttribute("name", "step_no" + step_no);
  no.setAttribute("placeholder", "#");

  let descr = document.createElement("input");
  descr.setAttribute("type", "text");
  descr.setAttribute("id", "descr_no" + step_no);
  descr.setAttribute("name", "descr_no" + step_no);
  descr.setAttribute("placeholder", "description");
  
  methodCont.appendChild(br);
  methodCont.appendChild(no);
  methodCont.appendChild(descr);
  GetLastStepNo();
}

</script>
<script>
  let e = document.getElementById('obj');
  //console.log (e.innerHTML);
  function makeObj(step,desc){
    let o = {
        'step':step,
        'descr':desc}
    let e = document.getElementById('obj');
    e.value = o;
  }
  //console.log('hi')
</script>

<script>

function SaveForm(){

    const recipe = {
    recipe_name: document.getElementById("test_name").value,
    recipe_desr : document.getElementById("test_descr").value,
    // recipe_method : [
    //                {"step":1,"descr":"add to oven"},
    //                {"step":2,"descr":"cook"}
    recipe_method : GetMethod()
  };

console.log(recipe)  
console.log(recipe.recipe_name);
console.log(recipe.recipe_desr);

for (var i=0; i < recipe.recipe_method.length; i++) {
  console.log(recipe.recipe_method[i].step)
  console.log(recipe.recipe_method[i].descr)
  }
}

</script>
  {% endblock %}
