{% extends "base.html"%}
{% block content %}
    <h3 class="light-blue-text text-darken-4 center-align">list page</h3>

    
    
            {% for t in tasks %}
              <h3>{{ t.test_name, t.test_type }}</h3>
                {% for r in t.rating %}
                  {{ r }}
                {% endfor%}
                <ul>
                {% for m in t.method %}
                  <li>
                  {{ m.step }} : {{ m.descr }} 
                </li>
              {% endfor%}
              </ul>
            {% endfor %}
      

  {% endblock %}